<div>
    <h2 class="tcenter">Menu</h2>
   
    <ul class="menu">
        <li><a href="/customer">Add Customer</a></li>
        <li><a href="/product">Sales Entry</a></li>
        <li><a href="/prosearch">Sales Inventory</a></li>
        <li><a href="/faultrep">Report Fault</a></li>
        <li><a href="/updatefault">Update Fault</a></li>
        <li><a href="/pendreport">Fault Status Reports</a></li>
        <li><a href="/additem">Add Product</a></li>
        <li><a href="/removeitem">Remove Product</a></li>
    </ul>
    
</div>