<h1>My Company</h1> 
<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/solution">Solutions</a></li>
        <li><a href="/myproduct">Products</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>