<html lang="en">
    <%- include("./partials/header.ejs")  %>
<body>
    <header>
        <a href="#"><img src="public/img/logo1.jpg" alt="company Logo" class="logo"></a>
        <%- include('./partials/navpublic.ejs') %>
    </header>
    <div class="container">
        <div class="section">
            <h2 class="tcenter">Wi-Fi Cameras and Wi-Fi Repeaters</h2>
            <p class="tcenter">We have a wide range of wireless Wi-Fi cameras for you to choose from. The WiFi Repeater allows you to extend the range of your Wi-Fi network. We offer Wi-Fi Repeater built in to Cameras as well as wide range of stand alone Wi-Fi Repeaters</p>
            <p></p>
        </div>
    </div>
    <div class="container">
        <div class="section1">
            <h2 class="center-heading">Wi-Fi Camera</h2>
            <img src="public/img/wificamera.jpg" alt="Wi-Fi Camera" class="image center-image">
        </div>
        <div class="section1">
            <h2 class="center-heading">Wi-Fi Repeater</h2>
            <img src="public/img/wifi_repeater.webp" alt="Wi-Fi Repeater" class="image center-image">
        </div>
    </div>
    <%- include("./partials/footer.ejs")  %>
</body>
</html>