<html lang="en">
    <%- include("./partials/header.ejs")  %>
<body>
    <header>
        <a href="#"><img src="public/img/logo1.jpg" alt="company Logo" class="logo"></a>
        <%- include('./partials/navpublic.ejs') %>
    </header>
    <div class="logcontainer">
        <section class="section">
            <h2>Create an account</h2>
            <form action="/authnext" method="post">

                <div>
                    <input type="text" name="name" id="name" placeholder="Name">
                    <label>Name</label>
                </div>
                <div>
                    <input type="radio" id="sales" name="team" value="sales" checked>
                    <label for="sales">Sales</label>
                    <input type="radio" id="support" name="team" value="support">
                    <label for="support">Support</label>
                  </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="eMail">
                    <label>eMail</label>
                </div>

                <div>
                    <input type="text" name="username" id="username" placeholder="Username">
                    <label>Username</label>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <label>Password</label>
                </div>
                <div>
                    <input type="password" name = "password2" id="password2" placeholder="Password">
                    <label>Repeat your password</label>
                    </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </form>
        </section>
    </div>

  
    
    <%- include("./partials/footer.ejs")  %>
</body>
</html>