<html lang="en">
    <%- include("./partials/header.ejs")  %>
<body>
    <header>
        <a href="#"><img src="public/img/logo1.jpg" alt="company Logo" class="logo"></a>
        <%- include('./partials/navpublic.ejs') %>
    </header>
    <div class="container">
        <div class="section">
            <h2 class="tcenter">Our Solution</h2>
            <p class="tcenter">We offer a "One Stop Solution" with Installation and Maintenance during our Product Warranty Period.</p>
            <p class="tcenter">During the Warranty Period all Products will be Reapired and/or Replaced.</p>
        </div>
    </div>
    <div class="container">
        <div class="section1">
            <h2 class="center-heading">Wi-Fi Camera and Repeater</h2>
            <img src="public/img/solution-01.png" alt="solution 1" class="image center-image">
        </div>
        <div class="section1">
            <h2 class="center-heading">Wi-Fi Camera with Built-in Repeater</h2>
            <img src="public/img/solution-02.png" alt="solution 1" class="image center-image">
            
        </div>
    </div>
    <%- include("./partials/footer.ejs")  %>
</body>
</html>